<div id="container" class="d-flex flex-column vh-100" [class.menu-open]="isMenuOpen">
  <!-- 頂部導航欄組件 -->
  <header>
    <app-top-bar (menuToggle)="toggleMenu()"></app-top-bar>
  </header>

  <div class="d-flex flex-fill overflow-hidden" style="min-height: 0;">
    <!-- 左側菜單組件 -->
    <aside>
      <app-side-menu [isMenuOpen]="isMenuOpen" [siteId]="siteId" (menuClose)="onMenuClose()"></app-side-menu>
    </aside>

    <!-- 右側內容區 -->
    <main class="flex-fill" style="overflow-y: auto">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
